<footer style="background-color: #f4f6f8;" class="footer-full text-dark py-5">
    <div class="container text-center">

        <!-- Logo + Açıklama -->
        <div class="mb-3">
            <img src="../media/logo.png" alt="ClassConnect Logo" width="120" height="120" class="mb-2 rounded">
            <h3 class="fw-bold text-black mb-4">ClassConnect</h3>
            <p class="small text-muted mb-0">
                Güvenli, erişilebilir ve modern bir özel ders platformu.
            </p>
        </div>

        <!-- Sosyal Medya -->
        <div class="d-flex justify-content-center gap-4 mb-3 social-colored-icons">
            <a href="https://www.instagram.com/classconnecteam.aybu/" class="instagram"
                aria-label="Instagram" target="_blank"><i class="bi bi-instagram fs-1"></i></a>
            <a href="https://x.com/classc68979?s=11" class="twitter" aria-label="Twitter" target="_blank"><i
                    class="bi bi-twitter fs-1"></i></a>
            <a href="https://www.linkedin.com/in/classconnecteam-aybu-8234a01b7/" class="linkedin" aria-label="LinkedIn" target="_blank"><i class="bi bi-linkedin fs-1"></i></a>
        </div>

        <!-- Telif -->
        <div class="small text-muted">
            © 2025 ClassConnect | Tüm hakları saklıdır.
        </div>

    </div>

</footer>